.body_background {
    background-image: url("https://image.shutterstock.com/image-vector/blue-white-light-polygonal-mosaic-260nw-230257930.jpg");
    background-position: center;
    background-size: cover;
  }
  h1
  {
      color: red; 
      font-size: 40px;
  }
  
  #drawingCanvas
  {
      border-width:10px;
      background-color: white; 
      border-style:ridge;
  }
  span
  {
      font-size: 22px;
  }